<header>
<a href="/"><h1>Sprekende kunst</h1></a>
	<nav>
		<a href="/artists">Kunstenaars</a>
		<a href="/results">Resultaten</a>
		<form action="/results" method="GET">
			<label for="search">Zoeken</label>
			<input type="search" id="search" name="q" />
		</form>
	</nav>
</header>
