<% results.forEach(function(result) { %>
<div class="result">
	<h3><%= result.title %></h3>
	<h4><%= result.longTitle %></h4>
	<img src="<% if (result.webImage) { %><%= result.webImage.url %><% } %>" alt="" loading="lazy" />
</div>
<% }); %>
