<% results.forEach(function(result) { %>
<div class="result">
	<h3><%= result.title %></h3>
	<h4><%= result.longTitle %></h4>
	<% if (result.webImage) { %>
		<img src="<%= result.webImage.url.slice(0,-3)+"=s1000"%>" alt="">	
	<% } else { %>
		<p><i>No image available</i></p>
	<% } %>
</div>
<% }); %>