<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>
	<body>
		<%- include("./partials/header.ejs") %>
        <main>
            <h1><%= artist %></h1>
			<% if (results) { %>
				<%- include("./partials/result.ejs", {results: results}) %>
			<% } %>
        </main>
	</body>
</html>