<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>
	<body>
		<%- include("./partials/header.ejs") %>
		<main>
			<h1>Ontek 5 van Nederlands groostse kunstenaars</h1>
			<section title="artists" class="artists">
				<div class="artist">
					<a href="">
						<img
							src="/img/rembrandtvanrijn.jpg"
							alt="Selfportrait of Rembrandt van Rijn"
						/>
						<h3>Rembrand van Rijn</h3>
						<p>1606 - 1669</p>
					</a>
				</div>
				<div class="artist">
					<a href="">
						<img
							src="/img/vincentvangogh.jpg"
							alt="Portrait of Vincent van Gogh"
						/>
						<h3>Vincent van Gogh</h3>
						<p>1853 - 1890</p>
					</a>
				</div>
				<div class="artist">
					<a href="">
						<img src="/img/pietmondriaan.jpg" alt="Portait of Piet Mondriaan" />
						<h3>Piet Mondriaan</h3>
						<p>1872 - 1944</p>
					</a>
				</div>
				<div class="artist">
					<a href="">
						<img
							src="/img/johannesvermeer.jpg"
							alt="Portait of Johannes Vermeer"
						/>
						<!-- Image from https://www.sterkaandemuur.nl/c-5186080/johannes-vermeer/ -->
						<h3>Johannes Vermeer</h3>
						<p>1632 - 1675</p>
					</a>
				</div>
				<div class="artist">
					<a href="">
						<img
							src="/img/jheronimusbosch.jpg"
							alt="portrait of Jheronimus Bosch"
						/>
						<!-- Image from https://www.europeana.eu/en/item/2021633/AtlantisPubliek_detail_aspx_xmldescid_15009950-->
						<h3>Jheronimus Bosch</h3>
						<p>~1450 - 1516</p>
					</a>
				</div>
			</section>
		</main>
	</body>
</html>
