<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>
	<body>
		<%- include("./partials/header.ejs") %>
		<main>
			<div class="intro">
				<h2>Hoe werkt dit?</h2>
				<p>
					Zoek naar je favoriete kunstwerk en ontdek wat er nog meer te vinden is
				</p>
			</div>
			<form action="/results" method="GET" class="searchForm">
				<h2>Wat zoek je?</h2>
				<div class="field">
					<label for="query">Trefwoord</label>
					<input type="search" name="q" id="query" />
				</div>
				<div class="field">
					<label for="artist">Kunstenaar</label>
					<input type="search" name="involvedMaker" id="artist" />
				</div>
				<button>Zoeken</button>
			</form>
		</main>
	</body>
</html>
