<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>
	<body>
		<%- include("./partials/header.ejs") %>
		<main>
			<h2>Hoe werkt dit?</h2>
			<p>
				Zoek naar je favoriete kunstwerk en ontdek wat er nog meer te vinden is
			</p>
			<a href="/search">Zoeken</a>
		</main>
	</body>
</html>
