<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>
	<body>
		<%- include("./partials/header.ejs") %>
		<form action="/search" method="GET" class="searchForm">
			<h2>Wat zoek je?</h2>
			<div class="field">
				<label for="query">Trefwoord</label>
				<input type="search" name="q" id="query" />
			</div>
			<div class="field">
				<label for="artist">Kunstenaar</label>
				<input type="search" name="involvedMaker" id="artist" />
			</div>
			<button>Zoeken</button>
		</form>
	</body>
</html>
